@import '../../styles/mixins';
@import '../../styles/variables';

.logementContainer {
	h2,
	p {
		color: $main-clr;
	}

	h2 {
		font-size: 18px;
		font-weight: normal;
		margin-block-end: 5px;
	}

	p {
		margin-block-start: 0;
		font-size: 14px;
	}

	.starCont {
		display: flex;
		gap: 4px;
	}



	.tagsContainer {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	.equipments {
		ul,
		li {
			color: $main-clr;
			list-style-type: none;
			padding-left: 12px;
		}
	}
}
