@import '../styles/variables';
@import '../styles/mixins';

$radius: 5px;

.accordion_item {
	max-width: 1020px;
	margin: auto;

	h2 {
		font-size: 22px;
		background-color: $main-clr;
		border-radius: $radius;
		margin-bottom: 0;

		@include responsive(768px) {
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}

	h2 img {
		width: 22px;
		transition: rotate 250ms ease-in-out;

		@include responsive(768px) {
			width: 32px;
		}
	}

	h2 button {
		border-radius: $radius;
		border: none;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 5px 16px;
		cursor: pointer;
		font-size: 14px;
	}

	.accordion_body {
		color: $main-clr;
		font-size: 12px;
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s ease-out;
		background-color: #f6f6f6;
		position: relative;
		z-index: -1;
		padding: 0 16px 0 16px;
		transform: translateY(-5px);
	}

	.accordion_body ul {
		padding-inline-start: 10px;
		line-height: 1.5;
		margin-block-start: 0;
	}

	.accordion_body li {
		color: $main-clr;
		list-style-type: none;
	}
}
