@import '../styles/mixins';

.home__banner {
	border-radius: 10px;
	overflow: hidden;
	max-height: 111px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 16px;

	@include responsive(768px) {
		max-height: 223px;
		border-radius: 25px;
		margin-bottom: 76px;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		mix-blend-mode: darken;
	}

	img {
		min-width: 480px;
	}

	h2 {
		position: absolute;
		z-index: 1;
		font-weight: normal;
		font-size: 24px;
		left: 16px;
		max-width: 222px;

		@include responsive(768px) {
			left: 50%;
			max-width: fit-content;
			transform: translateX(-50%);
			font-size: 48px;
			min-width: 705px;
		}
	}
}
