@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './styles/variables';
@import './styles/header';

* {
	font-family: 'Montserrat', sans-serif;
	color: $font-clr;
}

.root_layout {
	padding: 20px;
}
