@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './styles/variables';
@import './styles/mixins';
@import './styles/header';

* {
	font-family: 'Montserrat', sans-serif;
	color: $font-clr;
}
img {
	width: 100%;
}

main {
	@include maxWidthCtrl(1240px);
	padding-left: $padding-gral;
	padding-right: $padding-gral;
}

.d-none {
	display: none !important;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
