@import '../../styles/variables';

.container {
	text-align: center;
	span,
	h4,
	a {
		color: $main-clr !important;
	}
	span {
		font-weight: 700;
		font-size: 288px;
	}
	h4 {
		font-weight: 500;
		font-size: 36px;
	}
	a {
		font-weight: 500;
		font-size: 18px;
	}
}
